ion-card{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons{
    display: inline-flex;
    position: absolute;
    bottom: 35px;
}