<form [formGroup]="facultyForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Department Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID" formControlName="id">
            <mat-error *ngIf="facultyForm.controls['id'].hasError('required')">
              ID is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="facultyForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Abbreviation" formControlName="abbreviation">
              <mat-error *ngIf="facultyForm.controls['abbreviation'].hasError('required')">
                Abbreviation is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="facultyForm.invalid">Create</button>
    </mat-card-actions>
  </mat-card>
</form>
