<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let batch of batches | async">
        <div>
            <ion-card mode="ios" [routerLink]="[ '/list' ]" [queryParams]="{id:batch.id}">
                <ion-card-content>
                    <p>BATCH</p>
                    <p>{{batch.id}}</p>
                </ion-card-content>
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
